/* ===== App.css ===== */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ===== index.css ===== */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', "Blinker",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  height: -webkit-fill-available;
}

a {
  text-decoration: none;
}

.Home {
  flex: 1;
}

.navbar {
  width: -webkit-fill-available;
  height: 59px;
  display: flex;
  position: absolute;
  top: 51px;
  margin: auto 55px;
  overflow: hidden;
  align-items: center;
  z-index: 100;
}

.Logo {
  max-width: 251px;
  height: 100%;
  object-fit: contain;
  background-color: rgba(217, 217, 217, 1);
  background: url(/photos/GK-Select.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.Link {
  flex: 1;
  font-size: 40px;
  font-family: Blinker;
  display: flex;
  cursor: default;
  justify-content: flex-end;
}

.page {
  cursor: default;
}

.Link-button {
  display: flex;
  padding: 0 24px;
  text-decoration: none;
  color: #000000;
  font-size: 40px;
  font-family: Blinker;
  font-weight: 400;
  border: none;
  background: none;
  font-style: normal;
}

.Type { 
  cursor: pointer;
}

.TypeList {
  z-index: 999;
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 526px;
  height: 100%;
  right: 0;
  color: #f8f8f8;
  font-family: 'Blinker';
  font-size: 40px;
  padding: 38px 49px;
  background-color: #000000;
  transition: 0.25s;
  transform: translateX(100%);
}

.TypeList.active {
  display: flex;
  transform: translateX(0);
  transition: 0.25s;
}

.Modal_mask {
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transition: opacity .2s;
}

.Modal_mask.active {
  display: block;
}

.TypeList-btn {
  text-decoration: none;
  color: #f8f8f8;
  height: auto;
  padding-bottom: 38px;
}

a.TypeList-btn {
  left: -17px;
  position: relative;
}

.MoreLink {
  display: flex;
  flex-direction: column;
  height: auto;
  left: 17px;
  position: relative;
  padding-top: 35px;
}

.TypeList-btn-title {
  height: auto;
  display: flex;
  cursor: default;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.Contact-Form {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 139px 0;
  max-width: 100%;
  height: auto;
  font-family: "Blinker";
  padding-left: 112px;
}

.Contact-title {
  position: relative;
  padding-bottom: 40px;
  height: auto;
  font-size: 40px;
}

.Contact-discription {
  position: relative;
  padding-bottom: 32px;
  font-size: 36px;
  padding-left: 28px;
}

.Contact-btn {
  position: relative;
  margin: 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #003760;
  color: #ffffff;
  font-size: 30px;
  max-width: 100%;
  width: 270px;
  height: 50px;
  border-radius: 10px;
  left: 28px;
  cursor: pointer;
}

.insta-link {
  padding-top: 50px;
}

.instagram {
  color: #000;
  border-bottom: 2px solid #1f1f1fcc;
}

.Contact-btn a {
  text-decoration: none;
  color: #ffffff;
}

.Type-Link {
  display: flex;
  flex-direction: column;
  height: auto;
  border-bottom: 1px #ffffff solid;
  margin: 0 17px;
}

.cancel-btn {
  cursor: pointer;  
  padding-bottom: 0;
  margin-bottom: 38px;
}

.ComingSoon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  font-family: "Blinker";
}

.AdsContainer {
  padding-top: 139px;
  width: 100%;
  height: auto;
}

.HomeAds {
  object-fit: cover;
  display: flex;
  flex-wrap: wrap;
  border: solid rgba(217, 217, 217, 0.5) 1px;
  border-radius: 2px;
  max-width: 100%;
  height: auto;
  opacity: 1;
  position: relative;
  overflow: hidden;
  text-align: center;
  justify-content: center;
  margin: auto 55px;
}

.v1_3 { 
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: auto;
  background-color: rgba(217, 217, 217, 1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
  object-fit: cover;
}

.v1_18 {
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 202px;
    font-family: Inter;
    font-weight: Light Italic;
    font-size: 48px;
    z-index: -1;
    opacity: 1;
}

.SearchBar {
  display: flex;
  width: 100%;
}

.v1_27 {
  display: flex;
  font-size: 14px;
  box-sizing: border-box;
  max-width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  margin: 40px 55px;
  left: 292px;
  overflow: hidden;
  justify-content: flex-end;
  align-items: center;
}

.v1_20 {
  font-size: 14px;
  box-sizing: border-box;
  width: 236px;
  height: 33px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}

.v1_21 {
  box-sizing: border-box;
  width: 47px;
  height: 33px;
  color: rgba(0,0,0,1);
  position: absolute;
  left: 20px;
  font-family: Jaldi;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.route {
  width: 100%;
  height: auto;
  padding-top: 154px;
  display: flex;
  padding-left: 109px;
  position: relative;
  color: #7A7171;
  font-size: 36px;
  font-family: "Blinker";
}
.home-link {
  color: #7A7171;
  text-decoration: none;
  padding-right: 15px;
}
.goodbar {
  height: auto;
  width: -webkit-fill-available;
  margin: -40px auto;
}
.goodbar-otherType {
  position: relative;
  height: auto;
  display: flex;
  justify-content: flex-end;
}
.product-list {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-row-gap: 15px;
  grid-column-gap: 15px;
  font-size: 14px;
  box-sizing: border-box;
  width: -webkit-fill-available;
  height: auto;
  opacity: 1;
  position: relative;
  overflow: hidden;
  justify-content: center;
  padding: 30px 55px;
}

.product-list-otherType {
  display: grid;
  grid-template-rows: initial;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-row-gap: 15px;
  grid-column-gap: 15px;
  font-size: 14px;
  box-sizing: border-box;
  width: 80%;
  height: auto;
  opacity: 1;
  position: relative;
  overflow: hidden;
  justify-content: center;
  padding: 30px 55px;
  right: 0;
}
.goodlayer {
  width: 100%;
  height: auto;
  background: #f8f8f8;
  margin: 0 0 16px;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

@media (min-width: 950px) {
.menu {
  display: none;
}
}
@media screen and (max-width: 950px) {
.v1_27{
  display: none;
}
.goodbar {
  margin: 15px auto;
}
.goodbar-otherType {
  justify-content: flex-end;
}
.product-list {
  grid-template-columns: calc(50% - 7.5px) calc(50% - 7.5px);
  grid-template-rows: initial;
  padding: 0;
  width: -webkit-fill-available;
  height: auto;
}
.product-list-otherType {
  grid-template-columns: calc(50% - 7.5px) calc(50% - 7.5px);
  grid-template-rows: initial;
  padding: 0;
  width: -webkit-fill-available;
  height: auto;
}
.route {
  max-width: 100%;
  height: auto;
  padding-top: 59px;
  margin-top: 0;
  display: flex;
  padding-left: 30px;
  position: relative;
  color: #7A7171;
  font-size: 20px;
  font-family: "Blinker";
}
.Contact-Form {
  display: flex;
  position: relative;
  flex-direction: column;
  padding-top: 59px;
  max-width: 100%;
  height: auto;
  font-family: "Blinker";
  padding-left: 20px;
}

.Contact-title {
  padding-bottom: 20px;
  height: auto;
  font-size: 24px;
}

.Contact-discription {
  position: relative;
  padding-bottom: 16px;
  font-size: 20px;
  padding-left: 14px;
}

.Contact-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #003760;
  color: #ffffff;
  font-size: 20px;
  max-width: 100%;
  width: 150px;
  height: 40px;
  border-radius: 10px;
  left: 14px;
  cursor: pointer;
}
.insta-link {
  padding-top: 20px;
}
.home-link {
  color: #7A7171;
  text-decoration: none;
  padding-right: 15px;
}
.v1_22 {
  padding: 10%;
}
.Link {
  display: none;
}
.navbar {
  width: -webkit-fill-available;
  height: 59px;
  display: flex;
  position: absolute;
  top: 0;
  margin: auto;
  padding: 0 16px;
  align-items: center;
  justify-content: center;
}
.Home {
  width: auto;
  position: absolute;
  display: flex;
  flex: 0;
  align-items: center;
  justify-content: center;
}
.menu {
  display: inline-block;
  position: absolute;
  right: 0;
  margin: 0 10px;
  color: #f8f8f8;
  height: auto;
  cursor: pointer;
}
.TypeList {
  width: 100%;
}
.Logo {
  object-fit: contain;
  object-fit: contain;
  max-width: 120px;
  height: 50%;
  width: 120px;
}
.ComingSoon {
  font-size: 40px;
}
.AdsContainer {
  height: auto;
  max-width: 100%;
  padding-top: 59px;
}
.HomeAds {
  object-fit: cover;
  display: flex;
  flex-wrap: wrap;
  border: solid rgba(217, 217, 217, 0.5) 1px;
  border-radius: 2px;
  max-width: 100%;
  height: auto;
  opacity: 1;
  position: relative;
  overflow: hidden;
  text-align: center;
  justify-content: center;
  margin: auto 0;
}
}

.copyright {
  position: relative;
  display: flex;
  padding: 20px;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: auto;
}

.bottom {
  object-position: bottom;
}

.center {
  object-position: center;
}

.v1_22 {
  font-size: 14px;
  margin: 0 0 20%;
  box-sizing: border-box;
  text-decoration: none;
  max-width: 100%;
  height: auto;
  opacity: 1;
  position: relative;
  display: block;
  top: 1px;
  overflow: hidden;
}

.v1_22 :hover {
  opacity: 0.8;
}

.v1_7 {
  aspect-ratio: 1 / 1;
  font-size: 14px;
  box-sizing: border-box;
  object-fit: cover;
  max-width: 100%;
  height: auto;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: relative;
  top: 0px;
  overflow: hidden;
}

.v1_12 {
  display: block;
  object-fit: contain;
  object-position: center center;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  margin: 0 auto;
  color: rgba(0,0,0,1);
  position: relative;
  font-family: Inria Sans;
  font-size: calc(18px * var(--font-size-paragraph, 1));
  opacity: 1;
  text-align: center;
}
